{% load multisite_tags wagtailcore_tags %}

<div class='footer'>
    <!-- I've used 'with' here to avoid having to type out the long object name every time.-->

    {% with settings.utils.SocialMediaSettings as social %}
    <ul class='social-links'>
    {% if social.facebook %}
    <li class='footer-link'><a href="{{ social.facebook }}">Facebook</a></li>
    {% endif %}

    {% if social.twitter %}
    <li class='footer-link'><a href="http://www.twitter.com/{{ social.twitter }}">Twitter</a></li>
    {% endif %}

    {% endwith %}
</ul>

{% with settings.utils.FooterLinks as footer_links %}
<ul class='footer-links'>
{% for link in footer_links.footer_links.all %}
  <li class='footer-link'><a href="{{ link.link }}">{{ link.title }}</a></li>
{% endfor %}
</ul>
{% endwith %}
</div>
